<h2><center>Week 6 - Assignment</center></h2>
<h3><center>Programming for Data Science 2024</center></h3>

Exercises for the topics covered in the sixth lecture.

The exercise will be marked as passed if you get **at least 10/15** points.

Exercises must be handed in via **ILIAS** (Homework assignments). Deliver your submission as a compressed file (zip) containing one .py or .ipynb file with all exercises. The name of both the .zip and the .py/.ipynb file **must** be *SurnameName* of the two members of the group. Example: Riccardo Cusinato + Athina Tzovara = *CusinatoRiccardo_TzovaraAthina.zip* .

It's important to use comments to explain your code and show that you're able to take ownership of the exercises and discuss them.

You are not expected to collaborate outside of the group on exercises and submitting other groups’ code as your own will result in 0 points.

For questions contact: *riccardo.cusinato@unibe.ch* with the subject: *Programming for Data Science 2024*.

**Deadline: 14:00, April 11, 2024.**

<h3 style="text-align:left;">Exercise 1 - World Happiness Report<span style="float: right">8 points</span></h3>

You will find the CSV files *report.csv* and *region.csv* in the data folder for this assignment (Credit: https://www.kaggle.com/ajaypalsinghlo/world-happiness-report-2021).

1. Import the two *csv* files and save them in two variables called *df_report* and *df_region*. Create a new column "region" in the *df_report* dataframe by populating it with the correct region in the *df_region* dataframe. If a country does not exist in *df_region*, label it as "unknown" in *df_report*. Print *df_report* at the end. (*2 points*)

**NB** If you are unable to do the exercise, you can use the file *report_region.csv* in the data folder for the next points.

In [1]:
import pandas as pd
import numpy as np

#importing the dataset report.csv
df_report = pd.read_csv('./report.csv') #don't forget to save the workspace, then it can search for files
df_region = pd.read_csv('./region.csv')

#creating the new column "region"
#changing the name of df_report country name as name of df_region
df_report.rename(columns={"Country name": "name"}, inplace=True)
subdf_region=df_region[['name', "region"]]

#merging on df_report["region"] and region and left_on=Country name and rigth_on=name
df_report_new=pd.merge(df_report, subdf_region, on=["name"], how="left") #left merged based on df_report here as reference

#fill the na values with "unknown"
df_report_new["region"] = df_report_new["region"].fillna("unknown")

#verifying how many "unknown" values we have in the new column "region"
(df_report_new["region"] == "unknown").sum() #only 119 values
df_report_new

,name,year,Life Ladder,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption,Positive affect,Negative affect,region
0,Afghanistan,2008,3.724,7.370,0.451,50.80,0.718,0.168,0.882,0.518,0.258,Asia
1,Afghanistan,2009,4.402,7.540,0.552,51.20,0.679,0.190,0.850,0.584,0.237,Asia
2,Afghanistan,2010,4.758,7.647,0.539,51.60,0.600,0.121,0.707,0.618,0.275,Asia
3,Afghanistan,2011,3.832,7.620,0.521,51.92,0.496,0.162,0.731,0.611,0.267,Asia
4,Afghanistan,2012,3.783,7.705,0.521,52.24,0.531,0.236,0.776,0.710,0.268,Asia
...,...,...,...,...,...,...,...,...,...,...,...,...
1944,Zimbabwe,2016,3.735,7.984,0.768,54.40,0.733,-0.095,0.724,0.738,0.209,Africa
1945,Zimbabwe,2017,3.638,8.016,0.754,55.00,0.753,-0.098,0.751,0.806,0.224,Africa
1946,Zimbabwe,2018,3.616,8.049,0.775,55.60,0.763,-0.068,0.844,0.710,0.212,Africa
1947,Zimbabwe,2019,2.694,7.950,0.759,56.20,0.632,-0.064,0.831,0.716,0.235,Africa
1948,Zimbabwe,2020,3.160,7.829,0.717,56.80,0.643,-0.009,0.789,0.703,0.346,Africa

2. Calculate and print the median "Healthy life expectancy at birth" per region in the year 2019. (*2 point*)

In [2]:
#calculating the median variable
median_region=df_report_new[df_report_new["year"]==2019].groupby("region")["Healthy life expectancy at birth"].median()

#printing the median
print(median_region)

region
Africa      56.90
Americas    68.00
Asia        66.05
Europe      72.10
Oceania     73.65
unknown     58.50
Name: Healthy life expectancy at birth, dtype: float64

3. Create a Pivot table with the median "Healthy life expectancy at birth" per region (index) per year (column) and print it. (*1 point*)

In [3]:
#we can use the pivot_table method : https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.pivot_table.html
#where we can easily implement a function to print what we want for every columns (columns=year) and for each region (index=region)
#the function here is np-median to have the median for each region in a specific year
#then the column 2019 should be equal as the median variable found in the 2nd exercice
median_pivot_table = pd.pivot_table(df_report_new, values='Healthy life expectancy at birth', 
                             index='region', columns='year', aggfunc=np.median)

#checking that the medians of the pivot_table have been calculated correctly
median_pivot_table[2019]==median_region

region
Africa      True
Americas    True
Asia        True
Europe      True
Oceania     True
unknown     True
dtype: bool

4. Create a Pivot table (same structure as before) with the maximum "Log GDP per capita" per region per year and print it. In the resulting table, also add the overall values across years for each region, with the appropriate pandas method. (*1 point*)

In [4]:
#same as before but with function np.max and values=Log GDP per capita
max_pivot_table = pd.pivot_table(df_report_new, values='Log GDP per capita', 
                             index='region', columns='year', aggfunc=np.max) #here if we have NANs values, the max will be NA as well, don't know how to avoid that

#creating the new columns, while calculating the overall max values for each region
max_pivot_table["Overall max val"]=max_pivot_table.max(axis=1, skipna=True) #we need to put the axis=1 --> columns, we also need to skip the NAs to compute the max val 

#checking the pivot table
max_pivot_table

year,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,Overall max val
region,,,,,,,,,,,,,,,,,
Africa,9.036,9.492,9.426,9.590,9.414,9.556,9.767,9.842,9.728,9.865,9.724,9.935,9.972,10.008,10.043,9.972,10.043
Americas,10.652,10.924,10.933,10.922,10.888,10.905,10.913,10.928,10.939,10.956,10.977,10.986,11.001,11.025,11.043,11.001,11.043
Asia,10.699,11.367,11.212,11.178,11.456,11.520,11.553,11.523,11.357,11.383,11.486,11.419,11.461,11.490,11.486,11.053,11.553
Europe,10.851,11.050,10.891,11.042,11.562,11.592,11.595,11.567,11.580,11.598,11.617,11.640,11.634,11.645,11.648,11.323,11.648
Oceania,10.659,10.526,10.703,10.719,NaN,10.722,10.733,10.754,10.762,10.772,10.779,10.791,10.798,10.811,10.815,10.760,10.815
unknown,NaN,10.746,9.416,10.816,10.788,10.847,10.887,10.893,10.750,10.940,10.842,10.970,11.000,9.677,11.000,9.690,11.000

5. Find the length of the shortest country name(s) in the dataset and print it, together with the actual countries (print just the unique occurrences!). Then, create a new column ”Short name”, where each country name is cut down to the length of the shortest country name. For instance, if the country with the shortest name is Germany (7 letters, and not true, just an example), ”Switzerland” would become ”Switzer”. (*2 points*)

In [5]:
#finding the smallest country name and print it
i=100
small_name=""
for name in df_report_new["name"]:
    if len(name)<=i:
        if name!=small_name:
            i=len(name)
            small_name=name
            #print(small_name)
        
#printing
#print(small_name) --> Chad, Cuba, Iran, Iraq, Laos, Mali, Oman, Peru, Togo
len_small_name=4

#finding the country names with the len==4
shortest_countries=df_report_new[df_report_new["name"].str.len()==len_small_name]

#but here there is several occurencies --> .drop_duplicates method with subset to indicate which column we want uniq values
shortest_countries_uniq=shortest_countries.drop_duplicates(subset="name")
#print(shortest_countries_uniq)

#having the df_report_new but with only uniq names, to make the process faster and avoid repetitions
df_report_new_uniq=df_report_new.drop_duplicates(subset="name") #166 different uniq countries
df_report_new_uniq["Short name"]=""

df_report_new_uniq.iloc[8]["name"]

for i, name in enumerate(df_report_new_uniq["name"]):
    #print(i, name)
    new_name=name[:len_small_name]
    #replacing the "" by it's shorted name, 
    df_report_new_uniq.loc[df_report_new_uniq.index[i],"Short name"]=new_name

#checking the final table
df_report_new_uniq

C:\Users\redaz\AppData\Local\Temp\ipykernel_18296\3167056611.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_report_new_uniq["Short name"]=""

,name,year,Life Ladder,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption,Positive affect,Negative affect,region,Short name
0,Afghanistan,2008,3.724,7.370,0.451,50.80,0.718,0.168,0.882,0.518,0.258,Asia,Afgh
12,Albania,2007,4.634,9.142,0.821,65.80,0.529,-0.009,0.875,0.553,0.246,Europe,Alba
25,Algeria,2010,5.464,9.287,NaN,64.50,0.593,-0.205,0.618,NaN,NaN,Africa,Alge
33,Angola,2011,5.589,8.946,0.723,52.50,0.584,0.055,0.911,0.659,0.361,Africa,Ango
37,Argentina,2006,6.313,9.942,0.938,66.82,0.733,-0.157,0.852,0.825,0.328,Americas,Arge
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1879,Venezuela,2005,7.170,9.313,0.955,65.40,0.838,NaN,0.720,0.819,0.233,Americas,Vene
1894,Vietnam,2006,5.294,8.335,0.888,65.86,0.886,0.015,NaN,0.682,0.204,Asia,Viet
1908,Yemen,2007,4.477,8.214,0.825,53.40,0.673,0.011,NaN,0.592,0.379,Asia,Yeme
1920,Zambia,2006,4.824,7.817,0.798,44.26,0.721,-0.006,0.785,0.701,0.226,Africa,Zamb
1934,Zimbabwe,2006,3.826,7.711,0.822,41.58,0.431,-0.076,0.905,0.715,0.297,Africa,Zimb

<h3 style="text-align:left;">Exercise 2 - Weather data<span style="float: right">7 points</span></h3>

In this exercise, you'll use the *weather.csv* dataset that contains UK weather data. The dataset has columns year and month describing which year and month a specific recording belongs to. (Credit: https://www.kaggle.com/josephw20/uk-met-office-weather-data)

1. Import the dataset into a dataframe called *df_weather* and create a new column *datetime*, containing a datetime object for each row describing the year and month of the recording. The day can be set as the 1st of the month. Finally, print the dataframe. (*2 points*)

**NB**  If you are unable to do this exercise, you can use the file *weather_datetime.csv* in the data folder for the next points.

In [1]:
import pandas as pd
#import the dataset
df_weather = pd.read_csv('data/weather.csv') 
#create a new column containing the day (1st for all entry) (probably not the intended way...) 
df_weather["day"] = 1
# create the datetime column and convert the column year, month and day into datetime object
df_weather["datetime"] = pd.to_datetime(df_weather[["year","month", "day"]])
# remove the column day we added just before
df_weather.drop("day", axis="columns", inplace = True)
#then print
print(df_weather)

         year  month  tmax  tmin   af   rain    sun    station   datetime
0      1941.0    1.0   NaN   NaN  NaN   74.7    NaN  aberporth 1941-01-01
1      1941.0    2.0   NaN   NaN  NaN   69.1    NaN  aberporth 1941-02-01
2      1941.0    3.0   NaN   NaN  NaN   76.2    NaN  aberporth 1941-03-01
3      1941.0    4.0   NaN   NaN  NaN   33.7    NaN  aberporth 1941-04-01
4      1941.0    5.0   NaN   NaN  NaN   51.3    NaN  aberporth 1941-05-01
...       ...    ...   ...   ...  ...    ...    ...        ...        ...
37044  2020.0    2.0  10.8   4.5  2.0  117.4   63.1  yeovilton 2020-02-01
37045  2020.0    3.0  11.5   3.0  6.0   43.4  159.2  yeovilton 2020-03-01
37046  2020.0    4.0  17.5   5.3  3.0   39.8  235.0  yeovilton 2020-04-01
37047  2020.0    5.0  19.7   6.8  2.0    3.6  305.6  yeovilton 2020-05-01
37048  2020.0    6.0  20.5  11.0  0.0  103.0  187.6  yeovilton 2020-06-01

[37049 rows x 9 columns]

2. Write a function *mean_rainfall* that takes in input the dataframe, the name of a weather station, the upper and lower bounds of a time interval and computes the mean *rain* for the time period between (and including) the upper and lower bound. Make the station name not case-sensitive. Use the inputs as in the example below (i.e. upper and lower bounds as strings) (*3 points*)

```python 
mean_rainfall(df_weather, "Manston", "january 2019", "march 2020")  # returns 49.52
mean_rainfall(df_weather, "manston", "january 2019", "march 2020")  # also returns 49.52
```

In [2]:
def mean_rainfall(df, station, lower_bound, upper_bound):
    """
    Takes a dataframe, the name of a weather station, the lower and upper bounds of a time interval.
    Returns the mean of rain for this range
    """
    station = station.lower() # make it case insensitive
    upper_bound = pd.to_datetime(upper_bound)
    lower_bound = pd.to_datetime(lower_bound)
    # only keep the rows where the station is the same as wanted and the date is in the interval
    data = df[(df["station"] == station) & (df["datetime"] <= upper_bound) & (df["datetime"] >= lower_bound)]
    # compute the mean
    mean_rain = data["rain"].mean()
    return(mean_rain)
    
print(mean_rainfall(df_weather, "Manston", "january 2019", "march 2020"))
print(mean_rainfall(df_weather, "manston", "january 2019", "march 2020"))

49.52
49.52

3. Expand the function *mean_rainfall* of the previous point, such that it also returns the number of days since the maximum rainfall in the time-period selected and the current date (use 28th of March as reference) (*2 points*)

```python 
mean_rainfall(df_weather, "Manston", "january 2019", "march 2020")  # returns 49.52, 1640
```

In [6]:
from datetime import datetime

def mean_rainfall(df, station, lower_bound, upper_bound):
    """
    Takes a dataframe, the name of a weather station, the lower and upper bounds of a time interval.
    Returns the mean of rain for this range and the number of days since the maximum rainfall in the range until today
    """
    station = station.lower() # make it case insensitive
    upper_bound = pd.to_datetime(upper_bound)
    lower_bound = pd.to_datetime(lower_bound)
    # only keep the rows where the station is the same as wanted and the date is in the interval
    data = df[(df["station"] == station) & (df["datetime"] <= upper_bound) & (df["datetime"] >= lower_bound)]
    # compute the mean
    mean_rain = data["rain"].mean()

    # ADDED PART: 
    # find the maximum value for rain
    max_rain = data["rain"].max()
    # find the first date corresponding to the maximum value of rain
    max_rain_date = data[data["rain"] == max_rain]["datetime"].iloc[0]
    #calculate the number of days
    day_since = (datetime.now() - max_rain_date).days
    
    return(mean_rain, day_since)


mean_rainfall(df_weather, "Manston", "january 2019", "march 2020") # I'm doing this of the 1st of April, which is 4 days after 28th of March so it's good

(49.52, 1644)